body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#3f3f3f!important;
}
main{
    margin: 10px 11px;
    border-radius: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height:600px;
    padding-top:5px;
}
header{
 padding-top:4px;
}
header nav{
  padding-left:5px;
}
.item_menu{
  font-size: 1.08em;
  padding-right: 7px;
  padding-left: 7px;
  color:white;
  display: inline-block;
}
.item_menu div[aria-role="menuitem"]{
  padding: 3px 5px;
  border-radius:2px;
}
.item_menu div[aria-role="menuitem"]:hover{
  background-color: #7B95A3;
  color: white;

}
.item_menu span{
   margin-right: 6px;
}